*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-family: Andale Mono, monospace;
    color: azure;
}
body{
    background-color: rgb(34, 69, 69);
}
.header{
    background-color: darkslategrey;
}
.nav{
 max-width: 100%;   
 margin: auto;
 height: 70px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
 padding-inline: 16px;
}
.home{
    font-size: 48px;
}
.nav-list{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 50px;
}
.nav-lista a{
    padding: 16px;
    font-size: 16px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(darkslategrey, rgb(79, 134, 134) );
    width: 500px;
    width: 500px;
    height: 450px;
    padding: 90px;
    gap: 35px;
    margin: 50px auto;
}
input{
    width: 275px;
    height: 25px; 
    border-radius: 5px;
    margin: 0 auto;
}

button{
    border-radius: 4px;
    height: 25px;
    width: auto;
    color: rgb(34, 69, 69);
}